doctype html
html
  head
    title Taal Dance Academy
    block scripts
    block style
     
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png", alt="")
                | TDA  
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
  
    block content
    footer#footer
      | Copyright © 2020 TaalDanceAcedemy.in | All Rights Reserved  
      