
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: -11px 14px;
    font-size: 29px;
    margin-right: 40px;
}
#logo img{
    height: 40px;
    filter: invert(1);
}
#navbar{
    background-color: #b75936;
    padding: 12px 4px;
    font-family: 'Sansita Swashed', cursive;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{
 text-decoration: none;
 padding: 13px 30px;
 color: white;
}
#navbar li a:hover{
 text-decoration: none;
 padding: 13px 30px;
 color: black;
 font-weight: bold;
}
#introsection{
    font-family: 'Sansita Swashed', cursive;
    font-size: 2rem;
    color: white;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.img.jpg");
    height: 300px;
    background-color: red;
}
#introsection div.small{
    font-size: 1.8rem;
}
#missionsection{
    height: 300px;
}
#missionsection h2{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    padding-top: 23px; ;   
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 16.4px;
    height: 215px;
}
.card h3{
    text-align: center;
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 130px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 0 10px;
}
.card-content p{
    font-size: 23px;
}
#sponsorssection{
  height: 300px;
   background-color: #cd5d1b;         
 }
#sponsorssection h2{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    padding-top: 23px; ;
}
#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: 27px auto;
}
.spimage{
    height: 109%;
    margin: 20px;
    
}
#footer{
    display: flex;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'Sansita Swashed', cursive;
}

